flows (1).json
[{"id":"5542006a.6f0c2","type":"debug","z":"2a871184.7d8fce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":774.1000118255615,"y":408.0000066757202,"wires":[]},{"id":"213d940d.4ff43c","type":"ui_form","z":"2a871184.7d8fce","name":"","label":"","group":"f82457e2.add1d8","order":2,"width":0,"height":0,"options":[{"label":"powerPS","value":"ps","type":"number","required":true},{"label":"Kilo","value":"kilo","type":"number","required":true},{"label":"YOR","value":"yor","type":"number","required":true},{"label":"MOR","value":"mor","type":"number","required":true},{"label":"Gearbox","value":"gearbox","type":"number","required":true},{"label":"Namelen","value":"namelen","type":"number","required":true},{"label":"Model","value":"model","type":"number","required":true},{"label":"Brand","value":"brand","type":"number","required":true},{"label":"Notrepaired","value":"notrepaired","type":"number","required":true},{"label":"Fueltype","value":"fuel","type":"number","required":true},{"label":"Vehicletype","value":"vehicle","type":"number","required":true}],"formValue":{"ps":"","kilo":"","yor":"","mor":"","gearbox":"","namelen":"","model":"","brand":"","notrepaired":"","fuel":"","vehicle":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":65.10000228881836,"y":278.00000381469727,"wires":[["e83931b7.37002"]]},{"id":"74d3a60b.2863e8","type":"http request","z":"2a871184.7d8fce","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":181.1000518798828,"y":138.00000190734863,"wires":[["659a11c8.c399f","bbaaaf3a.e21d3"]]},{"id":"659a11c8.c399f","type":"debug","z":"2a871184.7d8fce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":415.1000785827637,"y":86.4000186920166,"wires":[]},{"id":"e83931b7.37002","type":"function","z":"2a871184.7d8fce","name":"parameters","func":"global.set(\"ps\",msg.payload.ps)\nglobal.set(\"kilo\",msg.payload.kilo)\nglobal.set(\"yor\",msg.payload.yor)\nglobal.set(\"mor\",msg.payload.mor)\nglobal.set(\"gearbox\",msg.payload.gearbox)\nglobal.set(\"namelen\",msg.payload.namelen)\nglobal.set(\"model\",msg.payload.model)\nglobal.set(\"brand\",msg.payload.brand)\nglobal.set('notrepaired',msg.payload.notrepaired)\nglobal.set(\"fuel\",msg.payload.fuel)\nglobal.set(\"vehicle\",msg.payload.vehicle)\nreturn msg;","outputs":1,"noerr":0,"x":190.10005569458008,"y":387.40000438690186,"wires":[["74d3a60b.2863e8"]]},{"id":"a458f891.444a78","type":"http request","z":"2a871184.7d8fce","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/6709ffbe-3341-4bc3-ad7f-d18e6c737c00/deployments/2353ad57-c2bc-4d16-9f7d-f7af4bc94d45/online","tls":"","proxy":"","authType":"basic","x":587.1000595092773,"y":308.0000047683716,"wires":[["5542006a.6f0c2","2784731a.d24cac"]]},{"id":"bbaaaf3a.e21d3","type":"function","z":"2a871184.7d8fce","name":"prediction","func":"var token=msg.payload.token\nvar ps=global.get('ps')\nvar kilo=global.get('kilo')\nvar yor=global.get('yor')\nvar mor=global.get('mor')\nvar gearbox=global.get('gearbox')\nvar namelen=global.get('namelen')\nvar model=global.get('model')\nvar brand=global.get('brand')\nvar notrepaired=global.get('notrepaired')\nvar fuel=global.get('fuel')\nvar vehicle=global.get('vehicle')\nmsg.payload={\"fields\":[\"powerPS\",\"Kilo\",\"YOR\",\"MOR\",\"Gearbox\",\"Namelen\",\"Model\",\"Brand\",\"Notrepaired\",\"Fueltype\",\"Vehicletype\"],values:[[ps,kilo,yor,mor,gearbox,namelen,model,brand,notrepaired,fuel,vehicle]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":411.1000576019287,"y":229.00000286102295,"wires":[["a458f891.444a78"]]},{"id":"2784731a.d24cac","type":"function","z":"2a871184.7d8fce","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":751.1000366210938,"y":211.39999389648438,"wires":[["7b7d1e49.cbb5"]]},{"id":"7b7d1e49.cbb5","type":"ui_text","z":"2a871184.7d8fce","group":"f82457e2.add1d8","order":1,"width":0,"height":0,"name":"","label":"Price Prediction","format":"{{msg.payload}}","layout":"row-spread","x":911.1000366210938,"y":265.6000061035156,"wires":[]},{"id":"f82457e2.add1d8","type":"ui_group","z":"","name":"Input Parameters","tab":"1d63e273.7f1e8e","disp":true,"width":"6","collapse":false},{"id":"1d63e273.7f1e8e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]